*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#animation{
  width: 400px;
  height: 100px;
  display: block;
  position: relative;
  margin: 0 auto;
}
.animation-item{
  height: 100px;
  text-align: center;
  margin: 200px auto;
}
.anim{
  text-align: center;
  position: relative;
  display: inline-block;
  width: 0px;
  height: 0px;
  margin:5px;
  vertical-align: middle;
  animation-name: load;
  background-color: rgb(0, 218, 116);
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
@keyframes load{
  
  0% {
    height: 50px;
    width: 5px;
    background-color: rgb(232, 74, 150);
  }
  50% {
    height: 100px;
    background-color: rgb(248, 251, 156);
  }
  100% {
    height: 50px;
    width: 5px;
    background-color: rgb(98, 222, 164);
  }
}
.anim-1{
  animation-delay:0s;
}
.anim-2{
  animation-delay:0.05s;
}
.anim-3{
  animation-delay:0.1s;
}
.anim-4{
  animation-delay:0.15s;
}
.anim-5{
  animation-delay:0.2s;
}
.anim-6{
  animation-delay:0.25s;
}
.anim-7{
  animation-delay:0.3s;
}
.anim-8{
  animation-delay:0.35s;
}
.anim-9{
  animation-delay:0.4s;
}
.anim-10{
  animation-delay:0.45s;
}
.anim-11{
  animation-delay:0.5s;
}
.anim-12{
  animation-delay:0.55s;
}
